<h1>Your Cart</h1>
<p style="color: green"><%= notice %></p>

<% if @cart.orderables.count > 0 %>
  <%= render "cart/orderables" %>

  <% @cart.orderables.each do |orderable| %>
    <% product = orderable.product %>
      <p><%= product.name %> * <%= orderable.quantity %> = $ <%= product.price * orderable.quantity %></p>
  <% end %>
  <p>Your total is $<%= @cart.total %></p>

<% else %>
  <p>Your cart is empty</p>
<% end %>

<%= link_to "Back to products", products_path %>